accelerate==0.25.0
beautifulsoup4==4.12.3
datasets==2.15.0
evaluate==0.4.1
gliner==0.2.2
ipdb==0.13.13
ipython==8.12.3
ipython==8.21.0
jsonlines==4.0.0
matplotlib==3.8.2
networkx==3.2.1
nltk==3.8.1
numerizer==0.2.3
numpy==2.0.1
openai==1.37.1
pandas==2.2.2
prettytable==3.10.2
private_transformers==0.2.3
Requests==2.32.3
scipy==1.14.0
seaborn==0.13.2
spacy==3.7.2
torch==2.1.2
tqdm==4.66.1
tqdm==4.64.1
transformers==4.41.2
